.display{
    margin-top: 2rem;
    font-size: 1.25rem;
}

.button-count{
    padding: .25rem 2rem;
    margin-top: 1rem;
    background: none;
    border: solid 1px #4d4d4d;
    border-radius: 5px;
}

.button-count:hover{
    cursor: pointer;
    background-color: #4d4d4d;
    color: white;
}

input{
    margin-top: 1rem;
}

.hidden{
    display: none;
}